<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="SourceFolders" type="MHLSourceScanner.Configurations.SourceFolder.SourceConfigSection,MHLSourceScanner"/>
		<section name="DestinationFolders" type="MHLSourceScanner.Configurations.DestinationFolder.DestinationConfigSection,MHLSourceScanner"/>
		<section name="RowStructure" type="MHLSourceScanner.Configurations.RowFolder.RowConfigSection,MHLSourceScanner"/>
		<section name="MSSQLServerSettings" type="MHLUIElements.Configurations.MSSQLServerFolder.MSSQLServerSection,MHLUIElements"/>
	</configSections>
	
	<SourceFolders>
		<Folders>
			<add setName="SourceDir1" path="F:\1" />
		</Folders>
	</SourceFolders>

	<DestinationFolders>
		<Folders>
			<add setName="DestinationDir" path="F:\1" path4sqlite="F:\1\DB4MHL.SQLite" type="2" />
		</Folders>
	</DestinationFolders>

	<RowStructure>
		<Rows>
			<add rowName="Example1" structureJson= '{"Items":[{"SelectedItem":{"Name":"Author","ElementType":2,"TypedItem":{"Name":"","TypeID":0}}}],"IsFileName":true,"SubRows":[]}'/>
		</Rows>
	</RowStructure>

	<MSSQLServerSettings>
		<Servers>
			<add server ="DESKTOP-J3UD2MB" user ="" password="" authType ="1"/>
		</Servers>
	</MSSQLServerSettings>
</configuration>

