<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="SourceFolders" type="MHLSourceScanner.Configurations.SourceFolder.SourceConfigSection,MHLSourceScanner"/>
		<section name="DestinationFolders" type="MHLSourceScanner.Configurations.DestinationFolder.DestinationConfigSection,MHLSourceScanner"/>
		<section name="RowStructure" type="MHLSourceScanner.Configurations.RowFolder.RowConfigSection,MHLSourceScanner"/>
	</configSections>
	
	<SourceFolders>
		<Folders>
			<add setName="SourceDir1" path="F:\1" />
		</Folders>
	</SourceFolders>

	<DestinationFolders>
		<Folders>
			<add setName="DestinationDir" path="F:\1" type="2" />
		</Folders>
	</DestinationFolders>

	<RowStructure>
		<Rows>
			<add rowName="Example1" structureJson= '{"Items":[{"SelectedItem":{"Name":"Author","ElementType":2,"TypedItem":{"Name":"","TypeID":0}}}],"IsFileName":true,"SubRows":[]}'/>
		</Rows>
	</RowStructure>	
</configuration>

