<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="SourceFolders" type="MHLSourceScanner.Configurations.SourceFolder.SourceConfigSection,MHLSourceScanner"/>
		<section name="DestinationFolders" type="MHLSourceScanner.Configurations.DestinationFolder.DestinationConfigSection,MHLSourceScanner"/>
	</configSections>
	
	<SourceFolders>
		<Folders>
			<add setName="SourceDir1" path="F:\1" />
		</Folders>
	</SourceFolders>

	<DestinationFolders>
		<Folders>
			<add setName="DestinationDir" path="F:\1" type="2" />
		</Folders>
	</DestinationFolders>

</configuration>

